<div class="cartDiv">
  <table>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>

    <tr *ngFor="let item of this.billingService.cartItems | keyvalue">
      <td>
        <button class="deleteButton" (click)="removeItem(item)">x</button>
      </td>
      <td>{{item.value.Product}}</td>
      <td>{{item.value.Price.toFixed(3)}}</td>
      <td>
        <button class="minusButton" (click)="reduceQuantity(item)">-</button>
        <input readonly type="text" class="quantityBox" value="{{item.value.Quantity}}">
        <button class="plusButton" (click)="addQuantity(item)">+</button>
      </td>
      <td>{{item.value.Total.toFixed(3)}}</td>
    </tr>
  </table>
  <div *ngIf="isCartEmpty()" class="noItem">
    <p>THERE ARE NO PRODUCTS</p>
  </div>
</div>

<div class="billDiv">
  <table>
    <tr class="billTable">
      <th>SubTotal</th>
      <td class="billTable">
        <span class="leftSpan">{{this.billingService.subTotal}}</span>
        <span class="rightSpan">{{this.billingService.items}}</span>
      </td>
    </tr>
    <tr class="billTable">
      <th>VAT tax</th>
      <td class="billTable">
        <span class="leftSpan">{{this.billingService.vatTax}}</span>
        <span class="rightSpan">{{this.billingService.taxValue}}</span>
      </td>
    </tr>
    <tr class="billTable">
      <th>Discount</th>
      <td class="billTable">
        <span class="leftSpan">{{this.billingService.discount}}</span>
        <span class="rightSpan">{{this.billingService.discountValue}}</span>
      </td>
    </tr>
    <tr class="billTable">
      <th>Total</th>
      <td class="billTable">
        <span class="leftSpan">{{this.billingService.total}}</span>
      </td>
    </tr>
  </table>

  <button class="cancel" (click)="reset()">CANCEL SALE</button>
  <button [disabled]="isCartEmpty()" class="process" (click)="openModal('custom-modal-1');">PROCESS SALE</button>
</div>

<jw-modal id="custom-modal-1">
  <div class="receiptHeader">
    <span>Receipt</span>
  </div>
  <div style="padding: 15px;">
    <h3>Sale No.:.:{{saleNumber}}</h3>
    <h5 style="text-align: left;">Date:{{date}}</h5>

    <table>
      <tr>
        <th>#</th>
        <th>Products</th>
        <th>Quantity</th>
        <th>SubTotal</th>
      </tr>

      <tr *ngFor="let item of this.billingService.cartItems | keyvalue; let i=index">
        <td>{{i+1}}</td>
        <td>{{item.value.Product}}</td>
        <td>{{item.value.Quantity}}</td>
        <td>{{item.value.Total.toFixed(3)}}</td>
      </tr>
    </table>

    <hr>
    <span>Total Items</span>
    <span style="margin-left: 15px;">{{this.billingService.items.replace(' Items','')}}</span>
    <span style="margin-left: 5px;">SubTotal</span>
    <span style="margin-left: 15px;">{{this.billingService.total}}</span>

    <hr>
    <span>Discount</span>
    <span style="margin-left: 15px;">10%</span>
    <span style="margin-left: 15px;">{{this.billingService.discountValue}}</span>
    <hr>
    <span>VAT</span>
    <span style="margin-left: 15px;">10%</span>
    <span style="margin-left: 15px;">{{this.billingService.taxValue}}</span>
    <hr>
    <span>Total</span>
    <span style="margin-left: 15px;">{{this.billingService.total}}</span>
    <hr>

    <button class="close" (click)="closeModal('custom-modal-1');reset()">Close</button>
  </div>
</jw-modal>
